 @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
body {
  margin: 0% !important;
  padding: 0% !important;
  background-color: #fbfdfd !important;
  touch-action: none;
  overflow-x: scroll !important; }

.pageTop {
  font-family: 'Montserrat', sans-serif;
  color: #b6bfce;
  height: 100px; }

#MyClockDisplay, #tempNow {
  font-size: 60px;
  font-weight: bold; }

  
@media only screen and (min-width: 601px) and (max-width: 1244px) {
  .item {
    flex-direction: row !important; }
  body {
    height: 1500px !important; }
  .Block {
    float: left !important;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .containert {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 10px !important; } }

@media only screen and (min-width: 1245px) {
  body {
    height: 800px !important; }
  .Block {
    float: right !important; }
  .containert {
    margin-left: 50px !important;
    margin-right: 50px !important;
    margin-top: 10px !important; } }

@media only screen and (max-width: 600px) {
  .item {
    flex-direction: row !important; }
  .Block {
    float: right !important; }
  body {
    height: 1450px !important;
    width: 600px !important; }
  .containert {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 10px !important; } }
/* 
.hadow {
  box-shadow: 3px 3px 20px 1px  #d6f5fd !important; }

.white {
  background-color: #ffffff;
  padding: 3px;
  border-radius: 10px; }

.m-30 {
  margin: 30px; }

#day {
  font-size: 30px; }

#month {
  font-size: 24px; }

#date {
  margin-top: 20px; }

#wicon {
  width: 60px;
  height: 60px; }

#shapeTop {
  margin-top: 20px; }

.column {
  margin: 0% !important;
  padding: 0% !important; }

.titleLarge {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #53c6ea; }

.titleSmall {
  font-size: 16px;
  font-weight: bold;
  color: #53c6ea;
  margin-left: 5px; }

.fRight {
  float: right; }

.fLeft {
  float: left; }

.rBlue-45 {
  border-radius: 45px !important;
  border-color: #53c6ea !important;
  border-style: solid;
  border-width: 1px; }

.white-p {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ffffff;
  border-radius: 10px;
  padding-bottom: 0; }

.p-0 {
  padding: 0;
  width: 240px !important; }

.m-1 {
  margin: 1rem !important; }

.mt-1 {
  margin-top: 1rem; }

.mr-1 {
  margin-right: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-1 {
  margin-left: 1rem; }

.pRelative {
  position: relative; }

.rad {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

.rad > input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0; }

.Gas {
  height: 40px; }

.rad > i {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transition: 0.2s;
  box-shadow: inset 0 0 0 8px #fff;
  border: 1px solid gray;
  background: gray; }

.rad:hover > i {
  box-shadow: inset 0 0 0 3px #fff;
  background: gray; }

.G > input:checked + i {
  box-shadow: inset 0 0 0 3px #fff;
  background: #4aceb7; }

.B > input:checked + i {
  box-shadow: inset 0 0 0 3px #fff;
  background: #4bc2e3; }

.fas {
  color: #a9e2f4 !important; }

.fInfo {
  top: 90px;
  position: absolute;
  margin-left: 2rem;
  width: 90%; }

.smContainer {
  width: 565px; }

.smBox {
  height: 211px;
  width: 280px; }

.itemBorder {
  height: 35px;
  width: 230px; }
  .itemBorder .small {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #b6bfce; }
  .itemBorder .msg {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color: #78859a; }
  .itemBorder i {
    color: #cccccc !important;
    margin-top: 1rem !important; }
  .itemBorder:hover {
    padding: 2px !important;
    box-shadow: 5px 10px 8px 10px #e5f3f7 !important; }
    .itemBorder:hover i {
      color: #53c6ea !important; }

.tariffArrow {
  color: #a9e2f4 !important;
  transform: rotate(45deg) !important;
  font-size: 10px !important;
  margin-top: 7px; }

.vr-left {
  border-left: 1px solid #d4d1d1;
  padding: 5px; }

.vr-right {
  border-right: 1px solid #d4d1d1;
  padding: 5px; }

.value {
  font-size: 30px !important;
  color: #78859a !important;
  font-weight: bold !important; }

.label span {
  font-size: 17px;
  color: #53c6ea;
  font-weight: bold; }

#dayLabel {
  font-size: 20px;
  font-weight: bold; }

#balanceLabel {
  top: 4rem;
  position: absolute; }

.curencyDropdown {
  border-radius: 45px !important;
  min-width: 90px !important;
  min-height: 20px !important;
  padding: 5px !important;
  border-color: #53c6ea !important; }
  .curencyDropdown .dropdown.icon {
    padding: 4px !important; }

.h-30 {
  height: 40px !important; }

.bar {
  background: #7cd8de !important; }  */